# Composer
/vendor/
composer.phar

# Symfony
/var/cache/
/var/log/
/var/sessions/
/var/

# Environment
.env
.env.local
.env.test
.env.*.local

# PHPUnit
.phpunit.cache/
coverage/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Docker
compose.override.yaml

# Static analysis
phpstan.neon

# Node
node_modules/
